# Block by default
*
!*/

# Include
!**/*.yaml
!.gitignore
!package.json
!www/custom/**/*
!www/custom-elements/**/*

#Exclude
custom_components
esphome/secrets.yaml
node_modules
secrets.yaml
www/custom-elements/build
zigbee2mqtt/coordinator_backup.json
