[submodule "copilot"]
	path = copilot
	url = git@github.com:anoblet/copilot.git
[submodule "storage"]
	path = storage
	url = git@github.com:anoblet/storage.git
[submodule ".agents"]
	path = .agents
	url = git@github.com:anoblet/.agents.git
