# Block by default
*

# Include
!**/*.yaml
!.copilot
!.copilot/**/*
!.github
!.github/**/*
!.gitignore
!.gitmodules
!.husky/**/*
!.prettierignore
!.prettierrc
!.vscode
!.vscode/**/*
!awesome-copilot
!awesome-copilot/**/*
!genaisrc
!genaisrc/**/*
!includes
!memory.jsonl
!package.json
!package-lock.json
!packages
!packages/**/*
!reports
!reports/**
!www/custom/**/*
!www/custom-elements/**/*

# Exclude
custom_components
esphome/secrets.yaml
go2rtc.yaml
known_devices.yaml
node_modules
secrets.yaml
www/custom-elements/build
zigbee2mqtt/configuration_*
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/secrets.yaml
